<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body{
            background: black;
        }
    </style>
</head>
<body>
    <h1>
        <p style="color: Green;text-align: center;position: absolute;top: 0;left: 50%;transform: translate(-50%, -50%);">Speaker details updated!!</p>
    </h1>
    <a href="/">
        <img class="circle" src="https://c.tenor.com/6ZkJEn80W7kAAAAC/green-tick.gif" jsaction="load:XAeZkd;" jsname="HiaYvf" alt="Green Tick GIF - Green Tick - Discover &amp; Share GIFs" data-noaft="1" style="width: 50vh;height: auto;margin: auto;display: block;">
    </a>
    <p style="color: white;text-align: center;position: absolute;bottom: 0;left: 50%;transform: translate(-50%, -50%);text-decoration: underline;">Click on the animation to go back</p>
</body>
</html>
